.wrapper-autosizer {
  // this wrapper class is required otherwise the autosizer doesn't work
  width: 100%;
  height: 100%;
}

.grid {
  background-color: var(--color-neutral-11);
  border: 1px solid var(--color-border-1);
  width: fit-content;

  &__header {
    // disable scrolling with mouse
    pointer-events: none;

    // hide scrollbars
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    // this will bring it in front of the rows so the mix-blend-mode will work for box shadow
    position: relative;
    z-index: var(--layer-content-elevated);

    // the box shadow color is so close to even row bg color that it won't be visible without mix-blend-mode multiply
    mix-blend-mode: multiply;
    box-shadow: var(--box-shadow-1);
  }

  &__th {
    display: grid;
    place-items: center;
    font-weight: 600;
    color: var(--color-text-2);
    // emulate border collapse
    box-shadow: 1px 0 0 0 var(--color-border-1) inset;
    text-align: center;
    position: relative;

    &__grip {
      position: absolute;
      // background-color: red;
      width: 1rem;
      height: 100%;
      right: -0.5rem;
      z-index: var(--layer-content-elevated);
      cursor: col-resize;
      pointer-events: visible;
    }
  }

  &__td {
    box-shadow: 1px 0 0 0 var(--color-border-1) inset;
    display: grid;
    place-items: center;
    overflow: auto;
    padding: 0 0.5rem;

    &.row-even {
      background-color: var(--color-bg-1);
    }
  }
}
