@import './reset.scss';
@import './vars.scss';
@import './typography.scss';

@font-face {
  font-family: Inter UI;
  src: url(../fonts/Inter-UI-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter UI;
  src: url(../fonts/Inter-UI-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Inter UI;
  src: url(../fonts/Inter-UI-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Inter UI;
  src: url(../fonts/Inter-UI-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Inter UI;
  src: url(../fonts/Inter-UI-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

html {
  font-size: 62.5%;
  font-family: Inter UI, sans-serif;
  color: var(--color-text-1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

svg {
  .primary {
    fill: var(--color-neutral-8);
  }
  .secondary {
    fill: var(--color-neutral-6);
  }
}
