.app {
  --header-height: 6rem;
  --footer-height: 6rem;
  --top-space: 4rem;

  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: var(--color-bg-1);

  grid-template-areas:
    'navbar header header header'
    'navbar left-pane main right-pane'
    'navbar left-pane footer footer';

  grid-template-columns: 6rem 20rem 1fr 20rem;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);

  .header {
    grid-area: header;
    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--color-border-1);
  }

  .sidebar {
    grid-area: navbar;
    background-color: var(--color-bg-2);
    border-right: 1px solid var(--color-border-1);
  }

  .main,
  .left-pane,
  .right-pane {
    overflow: auto;
    max-height: calc(100vh - var(--header-height));
  }

  .main {
    grid-area: main;
    display: grid;
    grid-auto-flow: column;
    padding: 0;
    margin-top: var(--top-space);
  }

  .left-pane {
    grid-area: left-pane;
    padding: 0 2rem;
    margin-top: var(--top-space);

    h3 {
      color: var(--color-neutral-6);
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      background-color: var(--color-neutral-9);
      width: 100%;
      display: block;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      position: sticky;
      top: 0;
    }
  }

  .right-pane {
    grid-area: right-pane;
  }
}

.files {
  border-radius: 3px;

  ul {
    list-style: none;
    padding: 0;
    color: var(--color-neutral-6);
    font-weight: 600;

    &.columns {
      font-weight: normal;
    }

    li {
      padding: 0.75rem 1.5rem;

      a {
        text-decoration: none;
        color: var(--color-neutral-6);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
