:root {
  --color-primary-a-1: hsl(200, 82%, 24%);
  --color-primary-a-2: hsl(200, 72%, 31%);
  --color-primary-a-3: hsl(200, 68%, 35%);
  --color-primary-a-4: hsl(200, 59%, 43%);
  --color-primary-a-5: hsl(200, 54%, 49%);
  --color-primary-a-6: hsl(200, 60%, 58%);
  --color-primary-a-7: hsl(200, 66%, 69%);
  --color-primary-a-8: hsl(200, 71%, 80%);
  --color-primary-a-9: hsl(200, 88%, 90%);
  --color-primary-a-10: hsl(201, 100%, 96%);

  --color-primary-b-1: hsl(125, 86%, 14%);
  --color-primary-b-2: hsl(125, 73%, 20%);
  --color-primary-b-3: hsl(125, 56%, 29%);
  --color-primary-b-4: hsl(122, 47%, 35%);
  --color-primary-b-5: hsl(122, 39%, 41%);
  --color-primary-b-6: hsl(123, 35%, 51%);
  --color-primary-b-7: hsl(123, 38%, 63%);
  --color-primary-b-8: hsl(122, 42%, 75%);
  --color-primary-b-9: hsl(126, 49%, 84%);
  --color-primary-b-10: hsl(125, 65%, 93%);

  --color-neutral-1: hsl(210, 24%, 16%);
  --color-neutral-2: hsl(209, 20%, 25%);
  --color-neutral-3: hsl(209, 18%, 30%);
  --color-neutral-4: hsl(209, 14%, 37%);
  --color-neutral-5: hsl(211, 12%, 43%);
  --color-neutral-6: hsl(211, 10%, 53%);
  --color-neutral-7: hsl(211, 13%, 65%);
  --color-neutral-8: hsl(210, 16%, 82%);
  --color-neutral-9: hsl(214, 15%, 91%);
  --color-neutral-10: hsl(216, 33%, 97%);

  --color-bg-1: var(--color-neutral-10);
  --color-bg-active-b-1: var(--color-primary-b-9);
  --color-border-1: var(--color-neutral-9);
  --color-text-1: var(--color-neutral-1);
  --color-text-2: var(--color-neutral-6);
  --color-text-3: var(--color-neutral-7);
  --color-text-active-b-1: var(--color-primary-b-4);
  --color-text-active-b-2: var(--color-primary-b-6);
}
