:root {
  /* --------------------------------- Colors --------------------------------- */

  --color-primary-a-1: hsl(200, 82%, 24%); // #0B4F71
  --color-primary-a-2: hsl(200, 72%, 31%); // #166086
  --color-primary-a-3: hsl(200, 68%, 35%); // #1D6F98
  --color-primary-a-4: hsl(200, 59%, 43%); // #2D83AE
  --color-primary-a-5: hsl(200, 54%, 49%); // #3994C1
  --color-primary-a-6: hsl(200, 60%, 58%); // #55AAD4
  --color-primary-a-7: hsl(200, 66%, 69%); // #7CC1E4
  --color-primary-a-8: hsl(200, 71%, 80%); // #A7D8F0
  --color-primary-a-9: hsl(200, 88%, 90%); // #D1EEFC
  --color-primary-a-10: hsl(201, 100%, 96%); // #EBF8FF

  --color-primary-b-1: hsl(125, 86%, 14%); // #05400A
  --color-primary-b-2: hsl(125, 73%, 20%); // #0E5814
  --color-primary-b-3: hsl(125, 56%, 29%); // #207227
  --color-primary-b-4: hsl(122, 47%, 35%); // #2F8132
  --color-primary-b-5: hsl(122, 39%, 41%); // #3F9142
  --color-primary-b-6: hsl(123, 35%, 51%); // #57AE5B
  --color-primary-b-7: hsl(123, 38%, 63%); // #7BC47F
  --color-primary-b-8: hsl(122, 42%, 75%); // #A3D9A5
  --color-primary-b-9: hsl(126, 49%, 84%); // #C1EAC5
  --color-primary-b-10: hsl(125, 65%, 93%); // #E3F9E5

  --color-neutral-1: hsl(210, 24%, 16%); // #1F2933
  --color-neutral-2: hsl(209, 20%, 25%); // #323F4B
  --color-neutral-3: hsl(209, 18%, 30%); // #3E4C59
  --color-neutral-4: hsl(209, 14%, 37%); // #52606D
  --color-neutral-5: hsl(211, 12%, 43%); // #616E7C
  --color-neutral-6: hsl(211, 10%, 53%); // #7B8794
  --color-neutral-7: hsl(211, 13%, 65%); // #9AA5B1
  --color-neutral-8: hsl(210, 16%, 82%); // #CBD2D9
  --color-neutral-9: hsl(214, 15%, 91%); // #E4E7EB
  --color-neutral-10: hsl(216, 33%, 97%); // #F5F7FA
  --color-neutral-11: #fff;

  --color-bg-1: var(--color-neutral-10);
  --color-bg-2: var(--color-neutral-11);
  --color-bg-active-b-1: var(--color-primary-b-9);
  --color-border-1: var(--color-neutral-9);
  --color-text-1: var(--color-neutral-1);
  --color-text-2: var(--color-neutral-6);
  --color-text-3: var(--color-neutral-7);
  --color-text-active-b-1: var(--color-primary-b-4);
  --color-text-active-b-2: var(--color-primary-b-6);
  --color-text-active-b-3: var(--color-primary-b-7);

  /* ------------------------------- Box Shadows ------------------------------ */

  --box-shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.2);
  --box-shadow-2: 0px 4px 6px hsla(0, 0%, 0%, 0.2);
  --box-shadow-3: 0px 5px 15px hsla(0, 0%, 0%, 0.2);
  --box-shadow-4: 0px 10px 24px hsla(0, 0%, 0%, 0.2);
  --box-shadow-5: 0px 15px 35px hsla(0, 0%, 0%, 0.2);

  /* --------------------------------- Layers --------------------------------- */

  --layer-content-elevated: 1;
}
